<p-dialog [(visible)]="showEdit" header="Edit EmployeesBasic" modal="true">
 <form [formGroup]="form">
  <input formControlName="[object Object]" placeholder="[object Object]" />
  <input formControlName="[object Object]" placeholder="[object Object]" />
  <input formControlName="[object Object]" placeholder="[object Object]" />
  <input formControlName="[object Object]" placeholder="[object Object]" />
  <input formControlName="[object Object]" placeholder="[object Object]" />
  <input formControlName="[object Object]" placeholder="[object Object]" />
  <input formControlName="[object Object]" placeholder="[object Object]" />
  <input formControlName="[object Object]" placeholder="[object Object]" />
  <input formControlName="[object Object]" placeholder="[object Object]" />
  <input formControlName="[object Object]" placeholder="[object Object]" />
 </form>
</p-dialog>