<p-table [value]="employeesBasicData" [scrollable]="true" scrollHeight="450px">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="[object Object]">
        [object Object]
        <p-sortIcon field="[object Object]"></p-sortIcon>
      </th>
      <th pSortableColumn="[object Object]">
        [object Object]
        <p-sortIcon field="[object Object]"></p-sortIcon>
      </th>
      <th pSortableColumn="[object Object]">
        [object Object]
        <p-sortIcon field="[object Object]"></p-sortIcon>
      </th>
      <th pSortableColumn="[object Object]">
        [object Object]
        <p-sortIcon field="[object Object]"></p-sortIcon>
      </th>
      <th pSortableColumn="[object Object]">
        [object Object]
        <p-sortIcon field="[object Object]"></p-sortIcon>
      </th>
      <th pSortableColumn="[object Object]">
        [object Object]
        <p-sortIcon field="[object Object]"></p-sortIcon>
      </th>
      <th pSortableColumn="[object Object]">
        [object Object]
        <p-sortIcon field="[object Object]"></p-sortIcon>
      </th>
      <th pSortableColumn="[object Object]">
        [object Object]
        <p-sortIcon field="[object Object]"></p-sortIcon>
      </th>
      <th pSortableColumn="[object Object]">
        [object Object]
        <p-sortIcon field="[object Object]"></p-sortIcon>
      </th>
      <th pSortableColumn="[object Object]">
        [object Object]
        <p-sortIcon field="[object Object]"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr>
      <td>{{row.[object Object]}}</td>
      <td>{{row.[object Object]}}</td>
      <td>{{row.[object Object]}}</td>
      <td>{{row.[object Object]}}</td>
      <td>{{row.[object Object]}}</td>
      <td>{{row.[object Object]}}</td>
      <td>{{row.[object Object]}}</td>
      <td>{{row.[object Object]}}</td>
      <td>{{row.[object Object]}}</td>
      <td>{{row.[object Object]}}</td>
    </tr>
  </ng-template>
</p-table>