<form [formGroup]="userProfileForm">
<div class="grid">
  <div class="col">
    <div class="mb-2">
      <p-iftalabel>
        <input type="number" class="w-full" pInputText id="userId" formControlName="userId" [pattern]="patterns" />
        <label class="iftalabelSize" for="userId">User Id</label>
      </p-iftalabel>
    </div>
    <div class="mb-2">
      <p-iftalabel>
        <input type="text" class="w-full" pInputText id="companyName" formControlName="companyName" />
        <label class="iftalabelSize" for="companyName">Company Name</label>
      </p-iftalabel>
    </div>
    <div class="mb-2">
      <p-iftalabel>
        <input type="text" class="w-full" pInputText id="address1" formControlName="address1" />
        <label class="iftalabelSize" for="address1">Address1</label>
      </p-iftalabel>
    </div>
    <div class="mb-2">
      <p-iftalabel>
        <input type="text" class="w-full" pInputText id="address2" formControlName="address2" />
        <label class="iftalabelSize" for="address2">Address2</label>
      </p-iftalabel>
    </div>
    <div class="mb-2">
      <p-iftalabel>
        <input type="text" class="w-full" pInputText id="city" formControlName="city" />
        <label class="iftalabelSize" for="city">City</label>
      </p-iftalabel>
    </div>
    <div class="mb-2">
      <p-iftalabel>
        <input type="text" class="w-full" pInputText id="state" formControlName="state" />
        <label class="iftalabelSize" for="state">State</label>
      </p-iftalabel>
    </div>
    <div class="mb-2">
      <p-iftalabel>
        <p-select  [(ngModel)]="selectedcountry" inputId="country" [options]="countryOptions" placeholder="Select" optionLabel="label" class="w-full" formControlName="country" appendTo="body"></p-select>
        <label class="iftalabelSize" for="country">Country</label>
      </p-iftalabel>
    </div>
    <div class="mb-2">
      <p-iftalabel>
        <input type="number" class="w-full" pInputText id="pinCode" formControlName="pinCode" [pattern]="patterns" />
        <label class="iftalabelSize" for="pinCode">Pin Code</label>
      </p-iftalabel>
    </div>
    <div class="mb-2">
      <p-iftalabel>
        <input type="text" class="w-full" pInputText id="latitude" formControlName="latitude" />
        <label class="iftalabelSize" for="latitude">Latitude</label>
      </p-iftalabel>
    </div>
    <div class="mb-2">
      <p-iftalabel>
        <input type="text" class="w-full" pInputText id="longitude" formControlName="longitude" />
        <label class="iftalabelSize" for="longitude">Longitude</label>
      </p-iftalabel>
    </div>
    <div class="mb-2">
      <p-iftalabel>
        <input type="number" class="w-full" pInputText id="contactNo" formControlName="contactNo" [pattern]="patterns" />
        <label class="iftalabelSize" for="contactNo">Contact No</label>
      </p-iftalabel>
    </div>
    <div class="mb-2">
      <p-iftalabel>
        <input type="text" class="w-full" pInputText id="emailid" formControlName="emailid" />
        <label class="iftalabelSize" for="emailid">Emailid</label>
      </p-iftalabel>
    </div>
    <div class="mb-2">
      <p-iftalabel>
        <input type="number" class="w-full" pInputText id="currencyCode" formControlName="currencyCode" [pattern]="patterns" />
        <label class="iftalabelSize" for="currencyCode">Currency Code</label>
      </p-iftalabel>
    </div>
    <div class="mb-2">
      <p-iftalabel>
        <input type="text" class="w-full" pInputText id="profileImageUrl" formControlName="profileImageUrl" />
        <label class="iftalabelSize" for="profileImageUrl">Profile Image Url</label>
      </p-iftalabel>
    </div>
  </div>
  </div>
</form>

    <div class="flex justify-content-between">
          <div class="flex flex-wrap gap-2 justify-content-start">
            <p-button label="Apply" [disabled]="!isBtnDisableduserProfile" severity="warn" icon="pi pi-check-circle"
              (onClick)="applyuserProfile()" />

            @if (isEditableuserProfile) {
            <p-button label="Update" [disabled]="isBtnDisableduserProfile" icon="pi pi-save" (onClick)="edituserProfile()" />
            }
            @if (!isEditableuserProfile) {
            <p-button label="Save" [disabled]="isBtnDisableduserProfile" icon="pi pi-save" (onClick)="saveuserProfile()" />
            }
            <p-button label="Roll Back" [disabled]="isRollBack" icon="pi pi-refresh" (onClick)="rollBackuserProfile()"
              styleClass="p-button-info" />
            @if (!isEditableuserProfile) {
            <p-button label="Reset" icon="pi pi-undo" (onClick)="resetuserProfile()" severity="danger" />
            }
            @if (workFlowEnabled) {
            <p-button label="Re-Approval" icon="pi  pi-refresh" [styleClass]="'cusButton'" severity="danger"
              (onClick)="reApproveBasic()" [disabled]="selectedStage !== 2" />
            }
          </div>
        </div>


    